<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035894450264-qb909l4ghfsspsb4ti2mm8gaq9ct8dk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035894450264-qb909l4ghfsspsb4ti2mm8gaq9ct8dk7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035894450264-3773smcp8srko6r4slqd7qvs970t0vi9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZa4CWAaJUarNYIYr9QHJ-v2IkPCGhPPY</string>
	<key>GCM_SENDER_ID</key>
	<string>1035894450264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ford9.create.slides.ai.presentation.generator.maker.creator.builder</string>
	<key>PROJECT_ID</key>
	<string>ai-presentation-4806f</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-presentation-4806f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035894450264:ios:1ea8a0c14f2478c017422d</string>
</dict>
</plist>